
<bryntum-scheduler
  #schedulerpro
  [startDate] = "schedulerProProps.startDate!"
  [endDate] = "schedulerProProps.endDate!"
  [viewPreset] = "schedulerProProps.viewPreset!"
  [selectionMode]="schedulerProProps.selectionMode!"
  [columns] = "schedulerProProps.columns!"
  [panFeature] = "schedulerProProps.panFeature!"
  [headerZoomFeature] = "schedulerProProps.headerZoomFeature!"
  [timeRangesFeature] = "schedulerProProps.timeRangesFeature!"
  [resourceTimeRangesFeature] = "schedulerProProps.resourceTimeRangesFeature!"
  [resourceTimeRangeRenderer]="resourceTimeRangeRenderer"
  [allowOverlap]="false"
  [stripeFeature]="true"
  [dependenciesFeature]="true"
  [crudManager]="schedulerProProps.crudManager!"

></bryntum-scheduler>
